<h2 mat-dialog-title>{{data.name}}</h2>

<mat-dialog-content>
    <mat-card *ngIf="stateChange === 0">
        <mat-card-header>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="main-container">
            <img matCardImage src="assets/favicon.png"> {{data.message}}
        </mat-card-content>
        <mat-card-actions align="start">
            <mat-dialog-actions>
                <button mat-raised-button (click)="stateChange = stateChange + 1">Change state</button>
            </mat-dialog-actions>
        </mat-card-actions>

        <mat-card-footer align="center">
            <!-- Footer -->
        </mat-card-footer>
    </mat-card>


    <mat-card *ngIf="stateChange === 1">
        <mat-card-header>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>New State 1</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="main-container">
            <img matCardImage src="assets/favicon.png"> {{data.message}}
        </mat-card-content>
        <mat-card-actions align="start">
            <mat-dialog-actions>
                <button mat-raised-button (click)="stateChange = stateChange -1">back</button>
                <button mat-raised-button (click)="stateChange = stateChange + 1">next</button>
            </mat-dialog-actions>
        </mat-card-actions>

        <mat-card-footer align="center">
            <!-- Footer -->
        </mat-card-footer>
    </mat-card>



    <mat-card *ngIf="stateChange === 2">
        <mat-card-header>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>New State 2</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="main-container">
            <img matCardImage src="assets/favicon.png"> {{data.message}}
        </mat-card-content>
        <mat-card-actions align="start">
            <mat-dialog-actions>
                <button mat-raised-button (click)="stateChange = stateChange -1">back</button>
                <button mat-raised-button (click)="stateChange = stateChange + 1">next</button>
            </mat-dialog-actions>
        </mat-card-actions>

        <mat-card-footer align="center">
            <!-- Footer -->
        </mat-card-footer>
    </mat-card>



    <mat-card *ngIf="stateChange === 3">
        <mat-card-header>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>New State 3</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="main-container">
            <img matCardImage src="assets/favicon.png"> {{data.message}}
        </mat-card-content>
        <mat-card-actions align="start">
            <mat-dialog-actions>
                <button mat-raised-button (click)="stateChange = stateChange -1">back</button>
                <button mat-raised-button (click)="stateChange = stateChange + 1">next</button>
            </mat-dialog-actions>
        </mat-card-actions>

        <mat-card-footer align="center">
            <!-- Footer -->
        </mat-card-footer>
    </mat-card>



    <mat-card *ngIf="stateChange === 4">
        <mat-card-header>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>New State 4</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="main-container">
            <img matCardImage src="assets/favicon.png"> {{data.message}}
        </mat-card-content>
        <mat-card-actions align="start">
            <mat-dialog-actions>
                <button mat-raised-button (click)="stateChange = stateChange -1">back</button>
                <button mat-raised-button (click)="stateChange = stateChange + 1">next</button>
            </mat-dialog-actions>
        </mat-card-actions>

        <mat-card-footer align="center">
            <!-- Footer -->
        </mat-card-footer>
    </mat-card>



    <mat-card *ngIf="stateChange === 5">
        <mat-card-header>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>New State 5</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="main-container">
            <img matCardImage src="assets/favicon.png"> {{data.message}}
        </mat-card-content>
        <mat-card-actions align="start">
            <mat-dialog-actions>
                <button mat-raised-button (click)="stateChange = stateChange -1">back</button>
                <button mat-raised-button (click)="stateChange = stateChange + 1">next</button>
            </mat-dialog-actions>
        </mat-card-actions>

        <mat-card-footer align="center">
            <!-- Footer -->
        </mat-card-footer>
    </mat-card>



    <mat-card *ngIf="stateChange === 6">
        <mat-card-header>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>New State 6</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="main-container">
            <img matCardImage src="assets/favicon.png"> {{data.message}}
        </mat-card-content>
        <mat-card-actions align="start">
            <mat-dialog-actions>
                <button mat-raised-button (click)="stateChange = stateChange -1">back</button>
                <button mat-raised-button (click)="stateChange = stateChange + 1">next</button>
            </mat-dialog-actions>
        </mat-card-actions>

        <mat-card-footer align="center">
            <!-- Footer -->
        </mat-card-footer>
    </mat-card>



    <mat-card *ngIf="stateChange === 7">
        <mat-card-header>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>New State 7</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="main-container">
            <img matCardImage src="assets/favicon.png"> {{data.message}}
        </mat-card-content>
        <mat-card-actions align="start">
            <mat-dialog-actions>
                <button mat-raised-button (click)="stateChange = stateChange -1">back</button>
                <button mat-raised-button (click)="stateChange = stateChange + 1">next</button>
            </mat-dialog-actions>
        </mat-card-actions>

        <mat-card-footer align="center">
            <!-- Footer -->
        </mat-card-footer>
    </mat-card>


    <mat-card *ngIf="stateChange === 8">
        <mat-card-header>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>New State 9</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="main-container">
            <img matCardImage src="assets/favicon.png"> {{data.message}}
        </mat-card-content>
        <mat-card-actions align="start">
            <mat-dialog-actions>
                <button mat-raised-button (click)="stateChange = stateChange - 1">back</button>
                <button mat-raised-button (click)="closeDialog()">Ok</button>
            </mat-dialog-actions>
        </mat-card-actions>

        <mat-card-footer align="center">
            <!-- Footer -->
        </mat-card-footer>

    </mat-card>
</mat-dialog-content>