<h2 mat-dialog-title>Overlay</h2>
<mat-dialog-content>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="main-container">
            <img matCardImage src="assets/favicon.png"> {{data.message}}
        </mat-card-content>
        <mat-card-actions align="center">
            <mat-dialog-actions>
                <button mat-raised-button (click)="closeDialog()">Ok</button>
            </mat-dialog-actions>
        </mat-card-actions>
        <mat-card-footer align="center">
            <!-- Footer -->
        </mat-card-footer>
    </mat-card>
</mat-dialog-content>