<div class="main">
    <div class="content">
        <div class="space"></div>
        <div class="side">

            <mat-card>
                <mat-card-title>Konsument</mat-card-title>
                <mat-card-subtitle>(z.B. Patient)</mat-card-subtitle>
                <mat-card-content>
                    <p>{{this.dataSource.business}}</p>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-title>Kostenerstatter</mat-card-title>
                <mat-card-subtitle>(z.B. Krankenversicherungen)</mat-card-subtitle>
                <mat-card-content>
                    <p>{{this.dataSource.product}}</p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="space"></div>
        <mat-card id="middle">
            <mat-card-title>Plattform-Betreiber</mat-card-title>
            <mat-card-subtitle>(z.B. MentalHealth UG)</mat-card-subtitle>
            <mat-card-content>
                <p>{{this.dataSource.relationship}}</p>
            </mat-card-content>
        </mat-card>

        <div class="space"></div>
        <div class="side">
            <mat-card>
                <mat-card-title>Anbieter</mat-card-title>
                <mat-card-subtitle>(z.B. Psychotherapeut)</mat-card-subtitle>
                <mat-card-content>
                    <p>{{this.dataSource.partner}}</p>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-title>Mehrwert-Partner</mat-card-title>
                <mat-card-subtitle>(z.B. Medical-App-Hersteller)</mat-card-subtitle>
                <mat-card-content>
                    <p>{{this.dataSource.platform}}</p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="space"></div>
    </div>

    <div class="space"></div>
    <div class="bottom">
        <div class="space"></div>
        <mat-card style="margin-right: 1%;">
            <mat-card-title>Infrastruktur-Partner</mat-card-title>
            <mat-card-subtitle>(z.B. Anbieter für Online-Sprechstunden-Software)</mat-card-subtitle>
            <mat-card-content>
                <p>{{this.dataSource.business}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>Investor</mat-card-title>
            <mat-card-content>
                <p>{{this.dataSource.business}}</p>
            </mat-card-content>
        </mat-card>
        <div class="space"></div>
        <!-- </div> -->
    </div>
</div>