
<div class="main">
    <div class="content">
        <div class="side">
            <h3>Patienten</h3>
          <mat-list>
            <mat-list-item>Item 1</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Item 2</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Item 3</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Item 3</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Item 3</mat-list-item>
          </mat-list>
        </div>
        <div id="middle">
            <h3>Plattform</h3>
          <mat-list>
              <mat-list-item>Item 1</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Item 2</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Item 3</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Item 3</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Item 3</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Item 3</mat-list-item>
            </mat-list>
        </div>
        <div class="side">
            <h3>Therapeuten</h3>
          <mat-list> 
            <mat-list-item>Item 1</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Item 2</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Item 3</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Item 3</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Item 3</mat-list-item>
          </mat-list>
        </div>
    </div>
 
</div>
