<div class="main">
    <div class="content">
        <div class="space"></div>
        <div class="side">

            <mat-card>
                <mat-card-title>Applikation</mat-card-title>
                <mat-card-subtitle>(z.B. Patient)</mat-card-subtitle>
                <mat-card-content>
                    <p>{{this.dataSource.business}}</p>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-title>Gesundheit/Therapie</mat-card-title>
                <mat-card-subtitle>(z.B. Krankenversicherungen)</mat-card-subtitle>
                <mat-card-content>
                    <p>{{this.dataSource.product}}</p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="space"></div>
        <mat-card id="middle">
            <mat-card-title>Plattform-Betreiber</mat-card-title>
            <mat-card-subtitle>(z.B. MentalHealth UG)</mat-card-subtitle>
            <mat-card-content>
                <p>{{this.dataSource.relationship}}</p>
            </mat-card-content>
        </mat-card>

        <div class="space"></div>
        <div class="side">
            <mat-card>
                <mat-card-title>Daten</mat-card-title>
                <mat-card-subtitle>(z.B. Psychotherapeut)</mat-card-subtitle>
                <mat-card-content>
                    <p>{{this.dataSource.partner}}</p>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-title>Infrastruktur</mat-card-title>
                <mat-card-subtitle>(z.B. Medical-App-Hersteller)</mat-card-subtitle>
                <mat-card-content>
                    <p>{{this.dataSource.platform}}</p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="space"></div>
    </div>
</div>